<div class="encabezado">
  <div class="container">


  </div>
</div>
<nav class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand">
      <i class="fa fa-video-camera" aria-hidden="true">
      </i> Mi canal de videos
    </a>

    <!--<ul class="nav navbar-nav">
      <li><a  [routerLink]="['/lista-video']"  routerLinkActive="active" >Lista de videos</a></li>

    </ul>-->

  </div>
</nav>
